{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Lewis, and I'm an aspiring Python coder on a journey to explore the fascinating world of programming. I'm excited to share my experiences, projects, and progress with you as I embark on this incredible learning adventure.</p>
        <p>I first discovered my passion for coding when I realized how programming allows us to create solutions to real-world problems with just a few lines of code. Python quickly caught my attention as a beginner-friendly and versatile language, known for its simplicity and readability. It's the perfect starting point for anyone who wants to dive into the vast universe of programming.</p>
        <p>As a beginner, I'm constantly learning and challenging myself to expand my knowledge and skills. I believe in the power of continuous improvement and strive to enhance my coding abilities each day. Through online resources, tutorials, and practice, I'm building a solid foundation in Python, from understanding the basics of variables, data types, and control flow, to exploring more advanced concepts like object-oriented programming and web development.</p>
        <p>As I continue on my coding journey, I aim to deepen my understanding of Python and explore its vast ecosystem of libraries and frameworks. I aspire to develop applications that make a difference, whether by improving efficiency, enhancing user experiences, or addressing real-world challenges. Along the way, I am committed to honing my problem-solving skills, embracing new technologies, and staying up to date with the latest trends in the ever-evolving world of programming.</p>
        <p>On this platform, I'll be sharing my coding journey, documenting my progress, and providing insights into the projects I'm working on. I hope to connect with fellow learners, enthusiasts, and experienced programmers who can offer guidance and support along the way. I'm a firm believer in the power of community and collaboration, and I'm excited to be a part of the vibrant Python coding community.</p>
        <p>Apart from coding, I have a deep love for creativity, and continuous learning. I enjoy challenging myself with puzzles and brain teasers, as they help me exercise my logical thinking and analytical skills. When I'm not coding, you can often find me reading about the latest trends in technology, exploring new programming techniques, or honing my skills through coding challenges and projects.</p>
        <p>Feel free to reach out, connect, and share your own experiences—I'm always excited to hear from fellow coders and enthusiasts.</p>
        <p>Happy coding!</p>
        <p>Lewis</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}